<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 15px; height: 80px">

# Lab 1.01: Data Structures and Python with Pokemon

### Building "Pokemon Stay"

---
You are an analyst at a "scrappy" online gaming company that specializes in remakes of last year's fads.

Your boss, who runs the product development team, is convinced that Pokemon Go's fatal flaw was that you had to actually move around outside. She has design mock-ups for a new game called Pokemon Stay: in this version players still need to move, but just from website to website. Pokemon gyms are now popular online destinations, and catching Pokemon in the "wild" simply requires browsing the internet for hours in the comfort of your home.

She wants you to program a prototype version of the game.

## Before we start

---
We're going to take a quick minute to explore nesting behavior of dictionaries and lists. Consider the following data:

In [1]:
dsi_lecture_times = {
    'WC': {
        'LA': {
            'M': [9, 2],
            'T': [9, 2],
            'W': [9, 2],
            'Th': [9],
            'F': [9]},
        'SEA': {
            'M': [9, 2],
            'T': [9, 2],
            'W': [9, 2],
            'Th': [9],
            'F': [9]},
        'DEN': {
            'M': [10, 3],
            'T': [10, 3],
            'W': [10, 3],
            'Th': [10],
            'F': [10]},
        'SF': {
            'M': [9, 2],
            'T': [9, 2],
            'W': [9, 2],
            'Th': [9],
            'F': [9]}},
    'EC': {
        'BOS': {
            'M': [10, 3],
            'T': [10, 3],
            'W': [10, 3],
            'Th': [10],
            'F': [10]},
        'NYC': {
            'M': [10, 3],
            'T': [10, 3],
            'W': [10, 3],
            'Th': [10],
            'F': [10]},
        'DC': {
            'M': [10, 3],
            'T': [10, 3],
            'W': [10, 3],
            'Th': [10],
            'F': [10]},
        'ATX': {
            'M': [9, 2],
            'T': [9, 2],
            'W': [9, 2],
            'Th': [9],
            'F': [9]},
        'CHI': {
            'M': [9, 2],
            'T': [9, 2],
            'W': [9, 2],
            'Th': [9],
            'F': [9]},
        'ATL': {
            'M': [10, 3],
            'T': [10, 3],
            'W': [10, 3],
            'Th': [10],
            'F': [10]}}
    }

This dictionary contains the start times for the global lectures for each of the 10 DSI-CC campuses. The top level indicates the coast. The next level contains the 2 or 3 letter city codes corresponding to the campuses. The next level contains the 5 days of the week; each day of the week contains a list of 1 or 2 integers corresponding to the start time(s) of the day's lectures.

Let's set our objective as accessing the **start time of the second Wednesday lecture in Chicago**.

Let's look at how the whole dict is rendered as an output in a Jupyter.

In [2]:
dsi_lecture_times

{'WC': {'LA': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
  'SEA': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
  'DEN': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
  'SF': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]}},
 'EC': {'BOS': {'M': [10, 3],
   'T': [10, 3],
   'W': [10, 3],
   'Th': [10],
   'F': [10]},
  'NYC': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
  'DC': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
  'ATX': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
  'CHI': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
  'ATL': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]}}}

We can see that curly braces (i.e., `{}`) and individual spaces are used to separate layers. Because this can be hard to see, oftentimes we'll use the `keys` method on a dictionary to see what the current level of a dictionary contains. If we approach a dict one level at a time, it's easy to drill down to our objective.

In [3]:
dsi_lecture_times.keys()

dict_keys(['WC', 'EC'])

Once you identify the key you want to access, use square brackets (i.e., `[]`) to access the value associated with that key.

In [4]:
dsi_lecture_times['EC']

{'BOS': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
 'NYC': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
 'DC': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
 'ATX': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
 'CHI': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
 'ATL': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]}}

It appears that we're still working with a dict. Let's check the type.

In [5]:
type(dsi_lecture_times['EC'])

dict

It is, in fact, a dictionary. This means that we can use dictionary methods on it. Let's look at the keys.

In [6]:
dsi_lecture_times['EC'].keys()

dict_keys(['BOS', 'NYC', 'DC', 'ATX', 'CHI', 'ATL'])

We can continue to add `[]` with our desired key because **`dsi_lecture_times['EC']`** points directly to a dict and operates in the same way a variable name pointing to a dict would.

In [7]:
dsi_lecture_times['EC']['CHI']

{'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]}

At this point, you can probably guess how we can access the times for Wednesday. Just add the `['W']` key.

In [8]:
dsi_lecture_times['EC']['CHI']['W']

[9, 2]

Let's check the type of this final level.

In [9]:
type(dsi_lecture_times['EC']['CHI']['W'])

list

Because it is a `list` and lists are 0-indexed, to capture the time of the 2nd lecture, we'll use `[1]`. So, to directly access the time of the afternoon lecture in Chicago on Wedensdays, we'll use the following:

In [10]:
dsi_lecture_times['EC']['CHI']['W'][1]

2

**Don't get overwhelmed trying to go directly to your target.** Drill down through your data one level at a time, and you're less likely to get lost.
___

Now, let's [dig(lett)](https://pokemondb.net/pokedex/diglett) into some Pokemon data.

![diglett](images/diglett.jpg)

Remember, nested dicts aren't aren't [magik(arp)](https://pokemondb.net/pokedex/magikarp).

![magikarp](images/magikarp.jpg)

## 1. Defining a player

---
Each player needs to have a set of charactaristics, stored in variables, such as an id, a username, play data, etc. A great structure to house these variables is a `dictionary`, because the `values` can contain any python datatype includeing `list`, `dict`, `tuple`, `int`, `float`, `bool`, or `str`. 

The player characteristics (keys to the player dict) are:

    player_id : id code unique to each player (integer)
    player_name : entered name of the player (string)
    time_played : number of time played the game in minutes (float)
    player_pokemon: the player's captured pokemon (dictionary)
    gyms_visited: ids of the gyms that a player has visited (list)

### A) Create a `dict` for a single player.

* The `player_id` should be 1
* Since the player doesn't have a name yet, you may set the `player_name` equal to `None`
* The rest of the fields should be populated properly depending on the datatype, i.e., `0.0` or an empty iterable of the appropriate type.

In [11]:
player_1 = {'player_id' : 1, 'player_name' : 'None', 'time_played' : 2, 'gyms_visited' : 'Viridian City', 'player_pokemon':{}}

### B) Create a `dict` to house your dataset of players.

* Because only `player_1` exists, there should only be one `key:value` pair. 
* The `keys` of this `dict` should be the `player_id`, and the `values` should be the dictionaries with single-player info, including the `player_id` (slightly redundant).

In [12]:
poke_players = {}
poke_players[1] = player_1

To see the contents of a variable, just run a code cell with the variable name in it.

In [13]:
poke_players

{1: {'player_id': 1,
  'player_name': 'None',
  'time_played': 2,
  'gyms_visited': 'Viridian City',
  'player_pokemon': {}}}

### C) Update player 1's info with your own.

* By indexing your `poke_players` dictionary, update the `player_name` field to your own name.
* Display the contents of `poke_players` to check your work.

In [14]:
poke_players[1]['player_name'] = 'Eric Wong'
poke_players

{1: {'player_id': 1,
  'player_name': 'Eric Wong',
  'time_played': 2,
  'gyms_visited': 'Viridian City',
  'player_pokemon': {}}}

### D) Define a function that adds a player to `poke_players`.

Your functions should...

* Take arguments for `players_dict`, `player_id`, and `player_name`.
* Create a player with the above values and populate the `gyms_visited`, `player_pokemon`, and `time_played` in the same way you did for `player_1` above.
* Prints the name of the player added.
* `return` the updated dictionary.

In [15]:
def add_player(poke_player, player_id, player_name, gyms_visited, player_pokemon, time_played):
  poke_players[poke_player] = {'player_id':player_id, 'player_name': player_name, 'gyms_visited': gyms_visited, 'player_pokemon' :player_pokemon, 'time_played': time_played}
  return poke_players[poke_player]

### E) Add a new player

* Add a second player to the `poke_players` dictionary using the `add_player` function. The id should be 2, but the name is up to you!
* Reassign and overwrite the `poke_players` dictionary.
* Display the contents of `poke_players` to check your work.

In [16]:
add_player(2, 2, 'Mike', 'Cerulean', {}, '21')

poke_players

{1: {'player_id': 1,
  'player_name': 'Eric Wong',
  'time_played': 2,
  'gyms_visited': 'Viridian City',
  'player_pokemon': {}},
 2: {'player_id': 2,
  'player_name': 'Mike',
  'gyms_visited': 'Cerulean',
  'player_pokemon': {},
  'time_played': '21'}}

## 2. Defining "gym" locations

---

As the sole programmer, Pokemon Stay will have to start small. To begin, there will be 10 different gym location websites on the internet. The gym locations are:

    1. 'reddit.com'
    2. 'amazon.com'
    3. 'twitter.com'
    4. 'linkedin.com'
    5. 'ebay.com'
    6. 'netflix.com'
    7. 'stackoverflow.com'
    8. 'github.com'
    9. 'quora.com'
    10. 'google.com'

* Set up a list of all the gym locations. This will be a list of strings. Print the list to check your work.
* For each player in `poke_players`, use `sample` (imported from `random` below) to randomly select 2 gyms and add these gyms to the `gyms_visited` field.
* Display the contents of `poke_players` to check your work.

In [17]:
from random import sample

In [18]:
# Run this cell a few times to understand sample. Play around with the function!
this_list = ['apple', 1, ('a','b','c'), 0.8]
sample(this_list, 3)

[('a', 'b', 'c'), 'apple', 0.8]

In [19]:
gyms = ['reddit.com',
 'amazon.com',
'twitter.com',
 'linkedin.com',
 'ebay.com',
 'netflix.com',
'stackoverflow.com',
'github.com' 'quora.com',
 'google.com']

#Poke Player 1 add 2 random gyms to gym'sv visited
poke_players[1]['gyms_visited'] = sample(gyms,2)

#Poke Player 2 add 2 random gyms to gym'sv visited
poke_players[2]['gyms_visited'] = sample(gyms,2)


poke_players

{1: {'player_id': 1,
  'player_name': 'Eric Wong',
  'time_played': 2,
  'gyms_visited': ['twitter.com', 'ebay.com'],
  'player_pokemon': {}},
 2: {'player_id': 2,
  'player_name': 'Mike',
  'gyms_visited': ['amazon.com', 'linkedin.com'],
  'player_pokemon': {},
  'time_played': '21'}}

## 3. Create a pokedex

---

We also need to create some pokemon to catch! Let's store the attributes of each pokemon in a `dictionary`, since each pokemon has many characteristics we'd like to store.


Each pokemon will be defined by these characteristics (keys to the pokemon dict):

    poke_id : unique identifier for each pokemon (integer, sequential)
    poke_name : the name of the pokemon (string)
    poke_type : the category of pokemon (string)
    hp : base hitpoints (integer between 400 and 500)
    attack : base attack (integer between 50 and 100)
    defense : base defense (integer between 50 and 100)
    special_attack : base special attack (integer between 100 and 150)
    special_defense : base sepecial defense (integer between 100 and 150)
    speed : base speed (integer between 0 and 100)
    
**Note**: All integer ranges are inclusive on both ends.

### A) Create a function called `create_pokemon`

* The function should take arguments for `poke_id`, `poke_name`, and `poke_type`.
* Assign these arguments along with random stats into a `dict` using the guidelines above.
* Use `np.random.randint` to generate values for the numeric attributes based on the conditions above. If you're not clear on how this function works, there is a cell below with an example. Play around with it!
* The function should return a `dict` for the pokemon.
* Without assigning it to a variable, check the function's output by calling it with the following arguments:
  * `poke_id = 1`
  * `poke_name = 'charmander'`
  * `poke_type = 'fire'`

In [20]:
import numpy as np

In [21]:
# Play around with this cell to understand np.random.randint!

np.random.randint(0,10)

0

In [22]:
pokedex = {}
def create_pokemon(poke_id, poke_name, poke_type):
    pokedex[poke_id] = {'poke_name': poke_name, 'poke_type': poke_type, 'HP': np.random.randint(400,500), 'attack': np.random.randint(50,100), 'defense': np.random.randint(50,100), 'special attack': np.random.randint(100,150), 'special defense':np.random.randint(100,150), 'speed':np.random.randint(0,100)}
   
pokedex

{}

### B) Populate the `pokedex`!

Now we need some pokemon to catch. Let's create a dictionary to store the information!

* Instantiate an empyt dictionary called `pokedex`.
* Define a function called `create_and_add_to_pokedex`. This function should...
  * Take arguments for `pokedex`,  `poke_id`, `poke_name`, and `poke_type`.
  * Use the `create_pokemon` function you created earlier to create a pokemon using the provided `poke_id`, `poke_name`, and `poke_type`.
  * Add a new `key:value` pair to the `pokedex` dictionary where:
    * the `key` is the `poke_id`, and
    * the `value` is the newly-created pokemon dict, including the `poke_id` (this is slightly redundant, but that's ok!)
  * Prints the name of the pokemon added to the pokedex using the string `format` method or `f` strings.
* Add the following 3 pokemon to your `pokedex` using `create_and_add_to_pokedex`:

|Id|Name|Type|
|---|---|---|
|1|charmander|fire|
|2|squirtle|water|
|3|bulasaur|poison|

Display your `pokedex` to check your work. It should look something like...

```python
{1: {'attack': 64,
  'defense': 59,
  'hp': 495,
  'poke_id': 1,
  'poke_name': 'charmander',
  'poke_type': 'fire',
  'special_attack': 100,
  ...
```

In [23]:
def create_and_add_to_pokedex(pokedex, poke_id, poke_name, poke_type):
    pokedex[poke_id] = {'poke_name': poke_name, 'poke_type': poke_type, 'HP': np.random.randint(400,500), 'attack': np.random.randint(50,100), 'defense': np.random.randint(50,100), 'special attack': np.random.randint(100,150), 'special defense':np.random.randint(100,150), 'speed':np.random.randint(0,100)}

In [24]:

create_and_add_to_pokedex(pokedex, 1, 'charmander', 'fire')
create_and_add_to_pokedex(pokedex, 2, 'squirtle', 'water')
create_and_add_to_pokedex(pokedex, 3, 'bulbasaur', 'grass')

pokedex

{1: {'poke_name': 'charmander',
  'poke_type': 'fire',
  'HP': 423,
  'attack': 72,
  'defense': 96,
  'special attack': 126,
  'special defense': 121,
  'speed': 74},
 2: {'poke_name': 'squirtle',
  'poke_type': 'water',
  'HP': 486,
  'attack': 50,
  'defense': 69,
  'special attack': 107,
  'special defense': 119,
  'speed': 47},
 3: {'poke_name': 'bulbasaur',
  'poke_type': 'grass',
  'HP': 429,
  'attack': 87,
  'defense': 59,
  'special attack': 140,
  'special defense': 128,
  'speed': 94}}

## 4. Let's capture some pokemon!

---

Each player in `poke_players` should have a nested dictionary with the key `'player_pokemon'`. This is intended to be the place where we keep track of which of the pokemon each player has.

The keys of the `'player_pokemon'` dictionaries are the `poke_id`s that correspond to the ids in the `pokedex` dictionary you created earlier, and the values are the individual pokemon dicts. 

Essentially, we are replicating the structure of our `pokedex` for each user, only showing the Pokemon a particular user has captured nested within their individual player dictionary.

* Define a function called `add_pokemon_to_player` that...
  * Takes arguents for `player_id`, `poke_id`, `poke_players`, and `pokedex`.
  * Adds the desired pokemon to the `player_pokemon` field of the specified player
  * Prints which pokemon was added to which player.
  * Returns the modified `poke_players`.

In [25]:
#Function which adds pokemon to player
def add_pokemon_to_player(player_id, poke_id, poke_players, pokedex):
  poke_players[player_id]['player_pokemon'][poke_id] = pokedex[poke_id]
  print(str(pokedex[poke_id]['poke_name']) + ' was added')

poke_players

{1: {'player_id': 1,
  'player_name': 'Eric Wong',
  'time_played': 2,
  'gyms_visited': ['twitter.com', 'ebay.com'],
  'player_pokemon': {}},
 2: {'player_id': 2,
  'player_name': 'Mike',
  'gyms_visited': ['amazon.com', 'linkedin.com'],
  'player_pokemon': {},
  'time_played': '21'}}

* Call your function three times to add 
  * `squirtle` to player 1
  * `charmander` to player 2
  * `bulbasaur` to player 2
* Overwrite your `poke_player` variable each time with the updated dictionary.
* Display the contents of `poke_players` to check your work.

In [26]:
#Function(player, pokemonID, poke_players, pokedex)
add_pokemon_to_player(1, 2, poke_players, pokedex)
add_pokemon_to_player(2, 1, poke_players, pokedex)
add_pokemon_to_player(2, 3, poke_players, pokedex)

poke_players

squirtle was added
charmander was added
bulbasaur was added

{1: {'player_id': 1,
  'player_name': 'Eric Wong',
  'time_played': 2,
  'gyms_visited': ['twitter.com', 'ebay.com'],
  'player_pokemon': {2: {'poke_name': 'squirtle',
    'poke_type': 'water',
    'HP': 486,
    'attack': 50,
    'defense': 69,
    'special attack': 107,
    'special defense': 119,
    'speed': 47}}},
 2: {'player_id': 2,
  'player_name': 'Mike',
  'gyms_visited': ['amazon.com', 'linkedin.com'],
  'player_pokemon': {1: {'poke_name': 'charmander',
    'poke_type': 'fire',
    'HP': 423,
    'attack': 72,
    'defense': 96,
    'special attack': 126,
    'special defense': 121,
    'speed': 74},
   3: {'poke_name': 'bulbasaur',
    'poke_type': 'grass',
    'HP': 429,
    'attack': 87,
    'defense': 59,
    'special attack': 140,
    'special defense': 128,
    'speed': 94}},
  'time_played': '21'}}

## 5. What gyms have players visited?

### A) Checking gyms

Write a nested for-loop that:

1. Iterates through the `gyms` list of gym locations you defined before.
2. For each gym, iterate through each player in the `poke_players` dictionary with a second, internal for-loop, checking if the player has visited that gym (stored in the `'gyms_visited'` list).
3. If the player has visited the gym, print out "{player_name} has visited {gym}.", filling in `{player_name}` and `{gym}` with the current player's name and current gym location.

In [27]:
for gym_names in gyms:
 for player_name in poke_players:
  for actual_gyms_visited in poke_players[player_name]['gyms_visited']:
    if gym_names == actual_gyms_visited:
      print(poke_players[player_name]['player_name'] + ' has visited ' +gym_names)

Mike has visited amazon.com
Eric Wong has visited twitter.com
Mike has visited linkedin.com
Eric Wong has visited ebay.com

### B) Computational Complexity

How many times did that loop run? If you have N gyms and also M players, how many times would it run as a function of N and M? 

(You can write your answer as Markdown text.)

$N \text{ gyms x } M \text{ players } = NxM$

## 6. Calculate player "power".

---

Define a function that will calculate a player's "power". Player power is defined as the sum of the base statistics all of their pokemon.

$$
\text{player power } = \sum_{i = 1}^{n}\text{attack}_i + \text{defense}_i + \text{special attack}_i + \text{special defense}_i
$$

Where $i$ is an individual pokemon in a player's `player_pokemon`. ($\sum$ just means sum, so you're just adding up all the attributes listed above for all the pokemon in the player's `player_pokemon`).

Your function should:

*  Accept a `poke_players` dictionary and a `player_id` as arguments.
*  For the specified player_id, look up that player's pokemon.
*  Find and aggregate the attack and defense values for each of the player's pokemon.
*  Print "{player_name}'s power is {player_power}.", where the `player_power` is the sum of the base statistics for all of their pokemon.
*  Return the player's power value.

Check your work by looping through all players in your `poke_players` dict.

In [28]:
#Function creates coiunter which adds up all power values together and then returns it
#If player has more than 1 pokemon it will also add that power to player

def get_power(player_id, player_dict = poke_players):
    total_power = 0
    for x in poke_players[player_id]['player_pokemon']:
      total_power += poke_players[player_id]['player_pokemon'][x]['attack'] 
      total_power += poke_players[player_id]['player_pokemon'][x]['defense']   
      total_power += poke_players[player_id]['player_pokemon'][x]['special attack']
      total_power += poke_players[player_id]['player_pokemon'][x]['special defense'] 
    return print('total power level of player ' + str(player_id) +' is ' + str(total_power))
        
get_power(1)
get_power(2)

total power level of player 1 is 345
total power level of player 2 is 829

## 7. Load a pokedex file containing all the pokemon

---

### Load data using the `with open()` method.

While you were putting together the prototype code, your colleagues were preparing a dataset of Pokemon and their attributes (This was a rush job, so they may have picked some crazy values for some...). Your task is to load the data into a list of lists so you can manipulate it.

* The `type` of the data should be a `list`
  * The `type` of each element in that list should be a `list`
    * The `type` of each element in the sub-list should be `str` or `float`.

The code provided loads the data into one looooong `str`. To get it into the correct format:
* Use the string `.replace()` method to remove `"`. 
* Use the string `.split()` method to create a new row for each line. New lines are denoted with a `'\n'`.
* Use `.split()` again on each line, splitting on commas to separate your individual values.
* Iterate through your data. Use `try/except` to cast numeric data as type `float`. 

Your end result is effectively a matrix. Each list $i$ in the outer list is a row, and the $j$th elements of list together form the *j*th column, which represents a data attribute. The first three lists in your pokedex list should look like this:

    ['PokedexNumber', 'Name', 'Type', 'Total', 'HP', 'Attack', 'Defense', 'SpecialAttack', 'SpecialDefense', 'Speed']
    [1.0, 'Bulbasaur', 'GrassPoison', 318.0, 45.0, 49.0, 49.0, 65.0, 65.0, 45.0]
    [2.0, 'Ivysaur', 'GrassPoison', 405.0, 60.0, 62.0, 63.0, 80.0, 80.0, 60.0]
    
In the above example, `new_pd[1][3]` would return the value `[318.0]`, which occupies the 4th index of the 2nd row (Python is 0-indexed).
    
**WARNING:** Don't print or display your entire new pokedex! Viewing that many entries will clog up your notebook and make it difficult to read.

In [29]:
# Code to read in pokedex info
#Note I had to use the absolute path as the relative didn't work on my notebook

raw_pd = ''
pokedex_file = "C:\\Users\\ericp\\OneDrive\\Documents\\GitHub\\1.01-lab-pokemon\\pokedex_basic.csv"
with open(pokedex_file, 'r') as f:
    raw_pd = f.read()
    

# the pokedex string is assigned to the raw_pd variable

In [30]:

new_pd = raw_pd.replace('"', '').split('\n') #creates new file with quotes removed and splits per line
for x in range(0, len(new_pd)): #Iterates through every line
     new_pd[x] = new_pd[x].split(',') #returns so that values are split on comma

#Tries to pass floats with each list in list. if it cannot it passes
for x in range(0,len(new_pd)):
    for y in range(0,len(new_pd[x])):
        try:     
            new_pd[x][y] = float(new_pd[x][y])
        except:
            pass

To preview the top 3 rows of your list of lists, use the code below:

In [31]:

new_pd[0:4]

[['PokedexNumber',
  'Name',
  'Type',
  'Total',
  'HP',
  'Attack',
  'Defense',
  'SpecialAttack',
  'SpecialDefense',
  'Speed'],
 [1.0, 'Bulbasaur', 'GrassPoison', 318.0, 45.0, 49.0, 49.0, 65.0, 65.0, 45.0],
 [2.0, 'Ivysaur', 'GrassPoison', 405.0, 60.0, 62.0, 63.0, 80.0, 80.0, 60.0],
 [3.0, 'Venusaur', 'GrassPoison', 525.0, 80.0, 82.0, 83.0, 100.0, 100.0, 80.0]]

## 8. Changing Types

---

### A) Convert your data into a dictionary.

Your `dict` should...
* have `keys` of the new `pokedex` as the `PokedexNumber`
* have `values` containing data for each pokemon in a dictionary form, just like our `pokedex` from before
  * Keep in mind, the `keys` here are a little bit different than the original `pokedex`.
  * Be careful of the header, you do not want to include that as a pokemon.
* **WARNING:** Don't display your entire `pokedex` when turning this in! Viewing that many entries will clog up your notebook and make it difficult to read. If youd like to visualize your `pokedex`, index with a few of its `keys`.

Your `new_pd_dict` should be organized like...

```python
{1.0: {'Attack': 49.0,
  'Defense': 49.0,
  'HP': 45.0,
  'Name': 'Bulbasaur',
  'PokedexNumber': 1.0,
  'SpecialAttack': 65.0,
  'SpecialDefense': 65.0,
  'Speed': 45.0,
  'Total': 318.0,
  'Type': 'GrassPoison'},
 2.0: {'Attack': 62.0,
  'Defense': 63.0,
  'HP': 60.0,
  'Name': 'Ivysaur',
```

In [32]:
new_pd_dict = {}

a = [x[0] for x in new_pd] #creates a list with pokemon ids,  to be used as index of new_pd_dict

for x in range(1, len(a)): #goes through new_pd and pairs to manual value set in new_pd_dict
    new_pd_dict[a[x]] ={
    'Attack': new_pd[x][5],
  'Defense': new_pd[x][6],
  'HP': new_pd[x][4],
  'Name': new_pd[x][1],
  'PokedexNumber': new_pd[x][0],
  'SpecialAttack': new_pd[x][7],
  'SpecialDefense': new_pd[x][8],
  'Speed': new_pd[x][9],
  'Total': new_pd[x][3],
  'Type': new_pd[x][2]}


new_pd_dict[6]

{'Attack': 104.0,
 'Defense': 78.0,
 'HP': 78.0,
 'Name': 'CharizardMega Charizard Y',
 'PokedexNumber': 6.0,
 'SpecialAttack': 159.0,
 'SpecialDefense': 115.0,
 'Speed': 100.0,
 'Total': 634.0,
 'Type': 'FireFlying'}

Your new pokedex is oriented by index, meaning that each entry is a row value (the `PokedexNumber` we set at the key would become the index for the row, all the keys for a given Pokemon would become the column headers, and their values would be the row values for that Pokemon). If you've set this up correctly (including naming your dict **`new_pd_dict`**), the following code should display the top 10 lines of your Pokedex formatted in a Pandas DataFrame.

In [33]:

import pandas as pd
pd.DataFrame(new_pd_dict).T.head(10)

,Attack,Defense,HP,Name,PokedexNumber,SpecialAttack,SpecialDefense,Speed,Total,Type
1.0,49,49,45,Bulbasaur,1,65,65,45,318,GrassPoison
2.0,62,63,60,Ivysaur,2,80,80,60,405,GrassPoison
3.0,100,123,80,VenusaurMega Venusaur,3,122,120,80,625,GrassPoison
4.0,52,43,39,Charmander,4,60,50,65,309,Fire
5.0,64,58,58,Charmeleon,5,80,65,80,405,Fire
6.0,104,78,78,CharizardMega Charizard Y,6,159,115,100,634,FireFlying
7.0,48,65,44,Squirtle,7,50,64,43,314,Water
8.0,63,80,59,Wartortle,8,65,80,58,405,Water
9.0,103,120,79,BlastoiseMega Blastoise,9,135,115,78,630,Water
10.0,30,35,45,Caterpie,10,20,20,45,195,Bug

### (OPTIONAL) B) Orient your `new_pd_dict` by columns.

Your goal in this exercise is to orient the pokedex dict by columns, meaning:

* The keys of the dictionary are the column names
* The values of the dictionary are a **column vector** (this can be a list or a tuple) of that feature.
* **BONUS:** Do this with list and/or dictionary comprehensions only

You may find it's easier to work from your `new_pd` list of lists rather than your `new_pd_dict`.

In [34]:
# Removed T method from pd.dataframe which transposes it.
pd.DataFrame(new_pd_dict).head(10)

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,712.0,713.0,714.0,715.0,716.0,717.0,718.0,719.0,720.0,721.0
Attack,49,62,100,52,64,104,48,63,103,30,...,69,117,30,70,131,131,100,160,160,110
Defense,49,63,123,43,58,78,65,80,120,35,...,85,184,35,80,95,95,121,110,60,120
HP,45,60,80,39,58,78,44,59,79,45,...,55,95,40,85,126,126,108,50,80,80
Name,Bulbasaur,Ivysaur,VenusaurMega Venusaur,Charmander,Charmeleon,CharizardMega Charizard Y,Squirtle,Wartortle,BlastoiseMega Blastoise,Caterpie,...,Bergmite,Avalugg,Noibat,Noivern,Xerneas,Yveltal,Zygarde Forme,DiancieMega Diancie,HoopaHoopa Unbound,Volcanion
PokedexNumber,1,2,3,4,5,6,7,8,9,10,...,712,713,714,715,716,717,718,719,720,721
SpecialAttack,65,80,122,60,80,159,50,65,135,20,...,32,44,45,97,131,131,81,160,170,130
SpecialDefense,65,80,120,50,65,115,64,80,115,20,...,35,46,40,80,98,98,95,110,130,90
Speed,45,60,80,65,80,100,43,58,78,45,...,28,28,55,123,99,99,95,110,80,70
Total,318,405,625,309,405,634,314,405,630,195,...,304,514,245,535,680,680,600,700,680,600
Type,GrassPoison,GrassPoison,GrassPoison,Fire,Fire,FireFlying,Water,Water,Water,Bug,...,Ice,Ice,FlyingDragon,FlyingDragon,Fairy,DarkFlying,DragonGround,RockFairy,PsychicDark,FireWater

In [35]:
#option 2

newpd = {}

for g in range(0, 10):
    newpd[new_pd[0][g]] = [new_pd[x][g] for x in range(1, 801)]

# creates a dictionary list where the name (ie. 'Attack') 
# Please note taht the pokedex number is != to the index. The pokedex number has multiple values. ie. there are 3 pokemon with number of 6

In [36]:
pd.DataFrame(newpd).T.head(10)

,0,1,2,3,4,5,6,7,8,9,...,790,791,792,793,794,795,796,797,798,799
PokedexNumber,1,2,3,3,4,5,6,6,6,7,...,714,715,716,717,718,719,719,720,720,721
Name,Bulbasaur,Ivysaur,Venusaur,VenusaurMega Venusaur,Charmander,Charmeleon,Charizard,CharizardMega Charizard X,CharizardMega Charizard Y,Squirtle,...,Noibat,Noivern,Xerneas,Yveltal,Zygarde Forme,Diancie,DiancieMega Diancie,HoopaHoopa Confined,HoopaHoopa Unbound,Volcanion
Type,GrassPoison,GrassPoison,GrassPoison,GrassPoison,Fire,Fire,FireFlying,FireDragon,FireFlying,Water,...,FlyingDragon,FlyingDragon,Fairy,DarkFlying,DragonGround,RockFairy,RockFairy,PsychicGhost,PsychicDark,FireWater
Total,318,405,525,625,309,405,534,634,634,314,...,245,535,680,680,600,600,700,600,680,600
HP,45,60,80,80,39,58,78,78,78,44,...,40,85,126,126,108,50,50,80,80,80
Attack,49,62,82,100,52,64,84,130,104,48,...,30,70,131,131,100,100,160,110,160,110
Defense,49,63,83,123,43,58,78,111,78,65,...,35,80,95,95,121,150,110,60,60,120
SpecialAttack,65,80,100,122,60,80,109,130,159,50,...,45,97,131,131,81,100,160,150,170,130
SpecialDefense,65,80,100,120,50,65,85,85,115,64,...,40,80,98,98,95,150,110,130,130,90
Speed,45,60,80,80,65,80,100,100,100,43,...,55,123,99,99,95,50,110,70,80,70

You can pass this data through to a pandas DataFrame as well, using the example code below:

```pd.DataFrame(your_dict_name).head(10)```

{'Attack': 30.0,
  'Defense': 50.0,
  'HP': 40.0,
  'Name': 'Voltorb',
  'SpecialAttack': 55.0,
  'SpecialDefense': 55.0,
  'Speed': 100.0,
  'Total': 330.0,
  'Type': 'Electric'},## (OPTIONAL) 9. Write a function to filter your pokedex!
---

Your goal in this exercise is to search your pokedex based on your own defined criteria! Build a function that...

* Takes arguments of: 
  * a pokedex dict (can be either the row or column oriented dict, pick the one of your choice!)
  * a `filter_options` dict (described below)
* For parameters in your `filter_options` dict, your function should return:
  * pokemon that are >= (greater than or equal to) the value you passed in your `filter_options` for that field for continuous values
  * pokemon of that name or type for string values (equal)
* Return a list of the individual pokemon dictionaries that meet your search criteia!

Example:

```python

# Only filter based on parameters passed
filter_options = {
    'Attack':   25,
    'Defense':  30,
    'Type':     'Electric'
}

# Return records with attack >= 24, defense >= 30, and type == "Electric"
# Also anticipate that other paramters can also be passed such as "SpecialAttack", "Speed", etc.
filtered_pokedex(pokedex_data, filter_options)

# Example output:
[{'Attack': 30.0,
  'Defense': 50.0,
  'HP': 40.0,
  'Name': 'Voltorb',
  'SpecialAttack': 55.0,
  'SpecialDefense': 55.0,
  'Speed': 100.0,
  'Total': 330.0,
  'Type': 'Electric'},
  {'Attack': 30.0,
  'Defense': 33.0,
  'HP': 32.0,
  'Name': 'Pikachu',
  'SpecialAttack': 55.0,
  'SpecialDefense': 55.0,
  'Speed': 100.0,
  'Total': 330.0,
  'Type': 'Electric'},
  ... etc
  ]

```

In [37]:
new_pd_dict[1]

{'Attack': 49.0,
 'Defense': 49.0,
 'HP': 45.0,
 'Name': 'Bulbasaur',
 'PokedexNumber': 1.0,
 'SpecialAttack': 65.0,
 'SpecialDefense': 65.0,
 'Speed': 45.0,
 'Total': 318.0,
 'Type': 'GrassPoison'}

In [38]:
#Gave up. Took too long to figure it out
filter_options = {
    'Attack':   120,
    'Defense':  100,
    'Speed': 100}

#def filtered_pokedex(filter_options):
    #for x in range(1, len(new_pd_dict)):
        #for k, v in filter_options.items():
            #if new_pd_dict[x][k] >= filter_options[k]:
                #print(new_pd_dict[x])
                
filtered_pokedex({
    'Attack':   100,
    'Defense':  200 })

NameError: name 'filtered_pokedex' is not defined

In [ ]:
[new_pd_dict[x] for x in range(1, len(new_pd_dict)) if new_pd_dict[x]['Type'] == 'Bug']

In [ ]:
[new_pd_dict[x]['Name'] for x in range(1, len(new_pd_dict)) if new_pd_dict[x]['Type'] == 'Electric']